body {
    margin: 0;
    font-family: sans-serif;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: white;
    padding: 12px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1;
}

#map {
    position: absolute;
    top: 0;
    left: 260px;
    right: 0;
    bottom: 0;
}
